<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="utf-8">
    <title>投保人查询页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <!--jquery要放在所有js最上面-->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="wrap" class="container">
    <div class="container" style="padding-top: 100px">
        <!--查询所有信息-->
        <button type="button" class="btn btn-danger btn-sm" id="pl">批量删除</button>
        <a href="ph_index"><button type="button" class="btn btn-danger btn-sm" >返回首页</button></a>
        <table  class="table table-bordered">
            <tr>
                <td> <button type="button" class="btn btn-primary btn-sm" id="qx">全选</button></td>
                <button type="button" class="btn btn-primary btn-sm" id="fx">反选</button>
                <td class="info">投保人姓名</td>
                <td class="info">投保人性别</td>
                <td class="info">投保人证件类型</td>
                <td class="info">投保人身份证</td>
                <td class="info">投保人电话</td>
                <td class="info">投保人地址</td>
                <td >操作</td>
            </tr>
            <tr th:each="p:${pageInfo.getList()}" th:if="${pageInfo.total != 0}">
                <td> <input type="checkbox" th:value="${p.phId}" ></td>
                <td class="info" th:text="${p.phName}"></td>
                <td class="info" th:text="${p.phSex}"></td>
                <td class="info" th:text="${p.phCredType}"></td>
                <td class="info" th:text="${p.phCredNumber}"></td>
                <td class="info" th:text="${p.phTel}"></td>
                <td class="info" th:text="${p.phAddress}"></td>
                <td ><a th:href="@{ph_delete(phId=${p.phId})}" type="button" class="btn btn-danger">删除</a> <a th:href="@{ph_findOne(phId=${p.phId})}" type="button" class="btn btn-warning" >修改</a></td>
            </tr>
            </c:forEach>
        </table>

        <!-- 显示分页信息 -->
        <div class="row">
            <div class="col-md-6" th:text="${pageInfo.pageNum}/${pageInfo.pages}" th:if="${pageInfo.total != 0}"></div>
            <div class="col-md-6">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li><a th:href="@{ph_cx(pn=1)}">首页</a></li>
                        <!-- 判断是否有上一页 -->
                        <li th:if ="${pageInfo.hasPreviousPage }">
                            <a th:href="@{ph_cx(pn=${pageInfo.pageNum-1})}"aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!-- 获取当前需要连续显示的页码 -->
                        <a th:each="page_num:${pageInfo.navigatepageNums }">
                            <li class="active" th:if ="${page_num == pageInfo.pageNum}">
                                <a th:text="${page_num}"></a>
                            </li>
                            <li th:if ="${page_num != pageInfo.pageNum}">
                                <a th:href="@{ph_cx(pn=${page_num})}" th:text="${page_num}"></a>
                            </li>
                        </a>
                        <!-- 判断是否有下一页 -->
                        <li th:if ="${pageInfo.hasNextPage }">
                            <a th:href="@{ph_cx(pn=${pageInfo.pageNum+1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li><a th:href="@{ph_cx(pn=${pageInfo.pages})}">末页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</div>
<script>
    // 全选
    $("#qx").click(function(){
        var nums = $("input[type='checkbox']");
        for(var i = 0;i < nums.length; i++){
            nums[i].checked=true;
        }
    })

    // 反选
    $("#fx").click(function(){
        var nums = $("input[type='checkbox']");
        for(var i = 0;i < nums.length; i++){
            if(nums[i].checked==true){
                nums[i].checked=false;
            }else{
                nums[i].checked=true;
            }
        }
    })

    // 批量删
    $("#pl").click(function(){
        var nums = $("input[type='checkbox']");
        console.log(nums);
        var id = "";
        for(var i = 0;i < nums.length; i++){
            if(nums[i].checked==true){
                id+=nums[i].value+",";
            }
        }
        $.ajax({
            url:"ph_batchDelete",
            data:{"id":id},
            type:"POST",
            dataType:"json",
            success:function(result){
                if(result>0){
                    location.reload();
                }else{
                    alert("删除失败");
                }
            },
            error:function(){
                alert("错误");
            }
        });
    })

</script>

</body>
</html>