<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>投保人修改页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}"/>
</head>
<body>

<div class="container" style="padding-top: 100px">
    <form action="ph_xg" method="post">
                   <input type="text" name="phId" th:value="${p.phId}" style="display: none" /></br>
        投保人姓名:<input type="text" name="phName" th:value="${p.phName}" /></br>
        投保人性别:<input type="text" name="phSex" th:value="${p.phSex}" /></br>
        投保人证件类型:<input type="text" name="phCredType" th:value="${p.phCredType}"/></br>
        投保人身份证:<input type="text" name="phCredNumber" th:value="${p.phCredNumber}" /></br>
        投保人电话:<input type="text" name="phTel" th:value="${p.phTel}" /></br>
        投保人地址:<input type="text" name="phAddress" th:value="${p.phAddress}" /></br>
        <input type="submit" value="修改"  class="btn btn-success"/></br>
    </form>
</div>
</body>
</html>