<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/backstage_index.css}"/>
</head>
<body>
<div id="wrap">
    <div id="header">
        <div id="header1">理赔管理系统</div>
        <div id="header2">[[${session.ShiroUser.name}]],你好!</div>
    </div>
    <div id="main">
        <div id="main_left">
            <ul>
                <shiro:hasRole name = "admin">
                    <li><a href="" target="content">客户管理</a></li>
                    <li><a href="" target="content">保单管理</a></li>
                    <li><a href="SurveyFindAll" target="content">查勘与定损管理</a></li>
                    <li><a href="selAllRiskMessage" target="content">出险管理</a></li>
                    <li><a href="" target="content">理赔查询</a></li>
                </shiro:hasRole>
                <shiro:hasRole name = "user">
                    <!--<li><a href="" target="content">我的订单</a></li>-->
                    <!--<li><a href="" target="content">我的保单</a></li>-->
                    <!--<li><a href="" target="content">理赔查询</a></li>-->
                    <!--<li><a href="" target="content">个人信息</a></li>-->
                    <!--<li><a href="" target="content">车辆信息</a></li>-->
                    <!--<li><a href="" target="content">配送地址</a></li>-->
                    <!--<li><a href="" target="content">上传投保资料</a></li>-->
                </shiro:hasRole>
            </ul>
        </div>
        <div id="main_right">
            <iframe frameborder="no" width="1670px" height="889px" scrolling="no" src="" name="content" id="i"></iframe>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{js/backstage_index.js}" ></script>
</body>
</html>