<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div class="chart-alternative-row-fill">


    <div class="col-md-3" style="background-color: chartreuse ; width: 200px ; height:200px; margin-left: 10px" >
        est
    </div>
    <div class="col-md-3" style="background-color: chartreuse; width: 200px ; height:200px; margin-left: 10px">
        est
    </div>
    <div class="col-md-3" style="background-color: chartreuse; width: 200px ; height:200px; margin-left: 10px">
        est
    </div>
    <div class="col-md-3" style="background-color: chartreuse; width: 200px ; height:200px; margin-left: 10px">
        est
    </div>

    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>
</body>
</html>