<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}"/>
</head>
<style>
    *{
        padding: 0;
        margin: 0;
    }
    body{
        padding: 200px;
    }
    #wrap{
        width: 500px;
        height: 500px;
        overflow: hidden;
    }
    form{
        width: 500px;
        height: 500px;
    }
    #form1{
        display: block;
    }
    #form2{
        display: none;
    }
    input{
        height: 30px;
    }
</style>
<body>
<botton id="btn1" class="btn btn-primary">登录</botton>
<botton id="btn2" class="btn btn-success">注册</botton>
<div id="wrap">
    <form methed="post" action="backstageLogin" id="form1">
        用户名:<input type="text" name="name" required/><br/>
        密码:<input type="password" name="password" required/><br/>
        <input type="submit" class="btn btn-primary" th:value="登录"/>
    </form>
    <form methed="post" action="register" id="form2">
        用户名:<input type="text" name="name" required/><br/>
        密码:<input type="password" name="password" required/><br/>
        邮箱:<input type="email" name="email" required/><br/>
        <input type="submit" class="btn btn-success" th:value="注册"/>
    </form>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<!--<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>-->
<script>
$(function(){
    $("#btn1").click(function(){
        $("#form1").css("display","block");
        $("#form2").css("display","none");
    })
    $("#btn2").click(function(){
        $("#form1").css("display","none");
        $("#form2").css("display","block");
    })
})
</script>
</body>
</html>