<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}">
</head>
<body>
<!--增加框-->
<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">增加理赔记录</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="ins_xmName" class="col-sm-2 control-label">项目名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ins_xmName" name="xmName">
                            <span id="ins_xmName_span"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ins_ssMoney" class="col-sm-2 control-label">损失金额</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ins_ssMoney" name="ssMoney">
                            <span id="ins_ssMoney_span"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ins_pfMoney" class="col-sm-2 control-label">赔付金额</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ins_pfMoney" name="pfMoney">
                            <span id="ins_pfMoney_span"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ins_lqPeople" class="col-sm-2 control-label">领取人</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ins_lqPeople" name="lqPeople">
                            <span id="ins_lqPeople_span"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>&emsp;&emsp;理赔方式</strong>
                        <span id="ins_lpFs_span"></span>
                        <select class="form-control" style="width: 400px; margin-left: 120px" name="lpFs" id="ins_lpFs">
                            <option>转账</option>
                            <option>金钱</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <strong>&emsp;&emsp;理赔审核</strong>
                        <span id="ins_lpSh_span"></span>
                        <select class="form-control" style="width: 400px; margin-left: 120px" name="lpSh" id="ins_lpSh">
                            <option>已过</option>
                            <option>未过</option>
                        </select>
                    </div>
                    <div>
                        <strong>&emsp;领取时间</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="ins_lpTime_span"></span>
                        <input type="date" name="lpTime" id="ins_lpTime"/>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" id="insertForm">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--修改框-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myModalLabel1">编辑理赔记录</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <h4>&emsp;&emsp;编号:<span id="upd_id" style="color: darkcyan"></span></h4>
                    <h4>理赔编号:<span id="upd_lpId" style="color: darkcyan"></span></h4>
                    <div class="form-group">
                        <label for="upd_xmName" class="col-sm-2 control-label">项目名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="upd_xmName" name="xmName">
                            <span id="upd_xmName_span"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="upd_ssMoney" class="col-sm-2 control-label">损失金额</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="upd_ssMoney" name="ssMoney">
                            <span id="upd_ssMoney_span"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="upd_pfMoney" class="col-sm-2 control-label">赔付金额</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="upd_pfMoney" name="pfMoney">
                            <span id="upd_pfMoney_span"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="upd_lqPeople" class="col-sm-2 control-label">领取人</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="upd_lqPeople" name="lqPeople">
                            <span id="upd_lqPeople_span"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>&emsp;&emsp;理赔方式</strong>
                        <span id="upd_lpFs_span"></span>
                        <select class="form-control" style="width: 400px; margin-left: 120px" name="lpFs" id="upd_lpFs">
                            <option value="转账">转账</option>
                            <option value="金钱">金钱</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <strong>&emsp;&emsp;理赔审核</strong>
                        <span id="upd_lpSh_span"></span>
                        <select class="form-control" style="width: 400px; margin-left: 120px" name="lpSh" id="upd_lpSh">
                            <option value="已过">已过</option>
                            <option value="未过">未过</option>
                        </select>
                    </div>
                    <div>
                        <strong>&emsp;领取时间</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="upd_lpTime_span"></span>
                        <input type="date" name="lpTime" id="upd_lpTime"/>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" id="updateForm">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center">理赔管理表</h1>
            <div class="col-md-4">
                <label for="ss">搜索</label>
                <input type="text" style="text-align: center" class="form-control" id="ss" placeholder="------查询------">
            </div>
            <div class="col-md-4 col-md-offset-10">
                <button class="btn btn-primary" id="insert">
                    <span class="glyphicon glyphicon-plus"></span>
                    增加
                </button>
                <button class="btn btn-danger" id="dels">
                    <span class="glyphicon glyphicon-trash"></span>
                    批量删除
                </button>
            </div>
        </div>
    </div>
    <div id="ssts"></div>
    <div class="row">
        <div class="col-md-12">
            <!--表格-->
            <table class="table table-striped table-hover" id="showAll">
                <thead>
                <tr>
                    <th><input type="checkbox" id="allChoice"/></th>
                    <th>主编号</th>
                    <th>项目名</th>
                    <th>
                        损失金额
                        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" id="ordss"></span>
                    </th>
                    <th>
                        赔付金额
                        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" id="ordpf"></span>
                    </th>
                    <th>理赔编号</th>
                    <th>领取人名</th>
                    <th>理赔方式</th>
                    <th>理赔审核</th>
                    <th>理赔时间
                        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" id="ordtime"></span>
                    </th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <!--动态填充表格内容-->
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4" id="infoPage">
                <!--分页信息-->
            </div>
            <div class="col-md-3" id="xzts">
                <select class="form-control">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                </select>
            </div>
            <div class="col-md-3 col-md-offset-9" id="pagePilot">
                <!--分页条信息-->
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/Lpgl.js}"></script>
</body>
</html>