<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}"/>
</head>
<style>
    body{
        padding-top: 150px;
        background-image: url(img/photo01.jpg);
    }
</style>
<body>
    <div class="container">
        <botton class="btn btn-success" id="add">添加</botton>
        <botton class="btn btn-primary" id="all">全选</botton>
        <botton class="btn btn-info" id="re">反选</botton>
        <botton class="btn btn-danger" id="del">删除</botton>
        <table class="table table-hover">
            <tr class="info">
                <th></th>
                <th>查勘编号</th>
                <th>派工工号</th>
                <th>查勘时间</th>
                <th>查勘地点</th>
                <th>联系电话</th>
                <th>查勘状态</th>
                <th>车主姓名</th>
                <th>定损状态</th>
                <th>定损金额</th>
                <th>受伤人员</th>
                <th>现场图片</th>
                <th></th>
            </tr>
            <tr th:each="var : ${pageInfo.getList()}" class="active">
                <td><input type="checkbox" th:name="${var.getId()}"/></td>
                <td class="td" th:text="${var.getId()}"></td>
                <td th:text="${var.getNumber()}"></td>
                <td th:text="${#dates.format(var.getTime(),'yyyy-MM-dd')}"></td>
                <td th:text="${var.getSite() }"></td>
                <td th:text="${var.getPhone()}"></td>
                <td>
                    <select class="select1">
                        <option th:text="${var.getStatus()}" disabled selected></option>
                        <option value="暂存">暂存</option>
                        <option value="通过">通过</option>
                        <option value="撤销">撤销</option>
                    </select>
                </td>
                <td th:text="${var.getName()}"></td>
                <td>
                    <select class="select2">
                        <option th:text="${var.getDsStatus()}" disabled selected></option>
                        <option value="暂存">暂存</option>
                        <option value="通过">通过</option>
                        <option value="撤销">撤销</option>
                    </select>
                </td>
                <td th:text="${var.getMoney()}"></td>
                <td th:text="${var.getWounded()}"></td>
                <td >
                    <img th:src="@{'/img/'+${var.getPhoto()}}" width="40px" height="30px" class="img"/>
                </td>
                <td><botton class="details btn btn-info btn-sm" th:name="${var.getDetails()}">理赔详情</botton></td>
            </tr>
        </table>
        <!-- 显示分页信息 -->
        <div class="col-md-6">[[${pageInfo.pageNum}]] / [[${pageInfo.pages}]]</div>
        <div class="col-md-6">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- 判断是否有上一页 -->
                    <li th:if="${!pageInfo.hasPreviousPage }" class="disabled"><span>首页</span></li>
                    <li th:if="${pageInfo.hasPreviousPage }"><a th:href="@{SurveyFindAll(pn=1)}">首页</a></li>
                    <li th:if="${pageInfo.hasPreviousPage }">
                        <a th:href="@{SurveyFindAll(pn=${pageInfo.pageNum -1})}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <!-- 获取当前需要连续显示的页码 -->
                    <li th:each="page_num : ${pageInfo.navigatepageNums }" >
                        <span th:if="${page_num == pageInfo.pageNum}" class="list-group-item active" th:text="${page_num}"></span>
                        <a th:href="@{SurveyFindAll(pn=${page_num} )}" th:if="${page_num != pageInfo.pageNum}" th:text="${page_num}"></a>
                    </li>
                    <!-- 判断是否有下一页 -->
                    <li th:if="${pageInfo.hasNextPage }">
                        <a th:href="@{SurveyFindAll(pn=${pageInfo.pageNum +1} )}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                    <li th:if="${pageInfo.hasNextPage }"><a th:href="@{SurveyFindAll(pn=${pageInfo.pages} )}">末页</a></li>
                    <li th:if="${!pageInfo.hasNextPage }" class="disabled"><span>末页</span></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--模态框1-->
    <div id="modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form action="Survey_add" method="post" enctype="multipart/form-data" style="margin: 50px">
                    派工工号:<select name="number">
                                    <option value="10000">--请选择--</option>
                                    <option value="10001">10001</option>
                                    <option value="10002">10002</option>
                                    <option value="10003">10003</option>
                                    <option value="10004">10004</option>
                                    <option value="10005">10005</option>
                                    <option value="10006">10006</option>
                             </select><br/><br/>
                    查勘时间:<input type="date" name="time"/><br/><br/>
                    查勘地点:<input type="text" name="site"/><br/><br/>
                    联系电话:<input type="tel" name="phone"/><br/><br/>
                    车主姓名:<input type="text" name="name"/><br/><br/>
                    定损金额:<input type="number" name="money"/><br/><br/>
                    定损详情:<textarea class="form-control" rows="3" name="details">
                             </textarea><br/><br/>
                    受伤人员:<input type="text" name="wounded"/><br/><br/>
                    现场图片:<input type="file" name="file"/><br/><br/>
                    <input type="submit" value="确认" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
    <!--模态框2-->
    <div id="modal2" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" id="modal2_1" style="padding: 50px;font-size: 18px;">

            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>
    <script>
        $(function(){
            var index1 = 0;
            var index2 = 0;
            var index3 = 0;
            var index4 = 0;
            var td = $(".td");
            var details = $(".details");
            var select1 = $(".select1");
            var select2 = $(".select2");
            var img = $(".img");
            // 图片放大
            img.click(function(){
                index4 = img.index(this);
                if(img.eq(index4).css("position")=="absolute"){
                    img.eq(index4).css({"position":"","top":"","left":"","width":"40px","height":"30px"})
                }else{
                    img.eq(index4).css({"position":"absolute","top":"100px","left":"300px","z-index":"999","width":"1000px","height":"600px"})
                }
            });

            // 详情
            details.click(function(){
                index3 = details.index(this);
                $("#modal2_1").text(details.eq(index3).attr("name"));
                $("#modal2").modal();
            })
            // 修改状态
            select1.change(function(){
                index1 = select1.index(this);
                var id = td.eq(index1).text();
                var status = select1.eq(index1).val();
                $.post("Survey_status",{"status":status,"id":id},function(){
                    location.reload();
                });
            });
            select2.change(function(){
                index2 = select2.index(this);
                var id = td.eq(index2).text();
                var dsStatus = select2.eq(index2).val();
                $.post("Survey_status",{"dsStatus":dsStatus,"id":id},function(){
                    location.reload();
                });
            });
            // 全选
            $("#all").click(function(){
               var nums = $("input[type='checkbox']")
                for(var i = 0;i<nums.length;i++){
                    nums[i].checked = true;
                }
            });
            // 反选
            $("#re").click(function(){
                var nums = $("input[type='checkbox']")
                for(var i = 0;i<nums.length;i++){
                    if(nums[i].checked == true){
                        nums[i].checked = false;
                    }else{
                        nums[i].checked = true;
                    }
                }
            });
            // 删除
            $("#del").click(function(){
                var nums = $("input[type='checkbox']")
                var arr = "";
                for(var i = 0;i<nums.length;i++){
                    if(nums[i].checked == true){
                        arr += nums[i].name+","
                    }
                }
                $.post("Survey_delete",{"arr":arr},function(){
                    location.reload();
                });
            });

            // 添加
            $("#add").click(function(){
                $("#modal").modal();
            });


        })

    </script>
</body>
</html>