<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>投保人增加页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}"/>
</head>
<body>
<div class="container" style="padding-top: 100px;padding-left:100px;">
    <form action="iu_zj" method="post" >
        <table class="table table-bordered table-hover">

                <h1>被保人</h1>
            <tr class="info" >
                <td >被保人姓名:<input type="text" name="ipName"  /></td>
                <td >被保人性别:<input type="text" name="ipSex" /></td>
            </tr>
            <tr class="info" >
                <td >被保人电话:<input type="text" name="ipTel"  /></td>
                <td >被保人邮箱:<input type="text" name="ipEmail" /></td>
            </tr>
            <tr class="info" >
                <td >被保人证件类型:<input type="text" name="ipCertificateType"   /></td>
                <td >被保人证件号码:<input type="text" name="ipIdentificationNumber" /></td>
            </tr>
            <tr class="info" >
                <td >被保人联系地址:<input type="text" name="ipAddress"  /></td>
                <td >被保人银行账户:<input type="text" name="ipBankAccount" /></td>
            </tr>
            <tr class="info" >
                <td >被保人驾驶执照:<input type="text" name="ipDirverLicense"  /></td>
            </tr>
            </hr>
                 <tr><td><h1>投保人</h1></td></tr>
            <tr class="info"   >
                <td >投保人姓名:<input type="text" name="phName" /></td>
                <td >投保人性别:<input type="text" name="phSex"   /></td>
            </tr>
            <tr class="info"   >
                <td >投保人证件类型:<input type="text" name="phCertificateType" /></td>
                <td >投保人身份证:<input type="text" name="phIdentificationNumber" /></td>
            </tr>
            <tr class="info"   >
                <td >投保人电话:<input type="text" name="phTel"   /></td>
                <td >投保人地址:<input type="text" name="phAddress" /></td>
            </tr>
        </table>
           <input type="submit" value="添加"  class="btn btn-success" />
    </form>
</div>
</body>
</html>