<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>保险用户页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <!--jquery要放在所有js最上面-->

</head>
<style>
    body{
        background-image: url(img/photo01.jpg);
    }
</style>
<body>
          <div class="container" style="padding-top: 100px;width: 1500px">
              <form action="iu_cx" method="post">
                  投保人姓名: <input type="text" name="phName">
                  投保人身份证号:<input type="text" name="phIdentificationNumber"></br></br>
                  被保人姓名: <input type="text" name="ipName">
                  被保人身份证号:<input type="text" name="ipIdentificationNumber">
                  <input type="submit" value="查询" class="btn btn-success glyphicon glyphicon-search" >
              </form>
              <a th:href="@{iu_zzz}" class="btn btn-info glyphicon glyphicon-plus">增加</a>

              <!--查询所有信息-->
              <button type="button" class="btn btn-danger btn-sm" id="pl">批量删除</button>
              <table  class="table table-hover ">
                  <tr class="info" >
                      <td> <button type="button" class="btn btn-primary btn-sm" id="qx">全选</button></td>
                      <button type="button" class="btn btn-primary btn-sm" id="fx">全部取消</button>
                      <td >被保人姓名</td>
                      <td >被保人性别</td>
                      <td >被保人电话</td>
                      <td >被保人邮箱</td>
                      <td >被保人证件类型</td>
                      <td >被保人证件号码</td>
                      <td >被保人联系地址</td>
                      <td >被保人银行账户</td>
                      <td >被保人驾驶执照</td>
                      <td >投保人姓名</td>
                      <td >投保人身份证</td>
                      <td >投保人信息</td>
                      <td >操作</td>
                  </tr>
                      <tr th:each="i:${pageInfo.getList()}" th:if="${pageInfo.total != 0}" class="active">
                          <td> <input type="checkbox" th:value="${i.iuId}" /></td>
                          <td  th:text="${i.ipName}"></td>
                          <td  th:text="${i.ipSex}"></td>
                          <td  th:text="${i.ipTel}"></td>
                          <td  th:text="${i.ipEmail}"></td>
                          <td  th:text="${i.ipCertificateType}"></td>
                          <td  th:text="${i.ipIdentificationNumber}"></td>
                          <td  th:text="${i.ipAddress}"></td>
                          <td  th:text="${i.ipBankAccount}"></td>
                          <td  th:text="${i.ipDirverLicense}"></td>
                          <td  th:text="${i.phName}" ></td>
                          <td  th:text="${i.phIdentificationNumber}"></td>
                          <td ><a th:href="@{iu_tbr(iuId=${i.iuId})}" type="button"  class="btn btn-primary btn-sm" id="tbr">投保人详情</a> </td>
                          <td ><a th:href="@{iu_delete(iuId=${i.iuId})}" type="button" class="btn btn-danger glyphicon glyphicon-remove">删除</a> <a th:href="@{iu_findOne(iuId=${i.iuId})}" type="button" class="btn btn-warning glyphicon glyphicon-pencil" >修改</a></td>

                      </tr>
              </table>
              <!-- 显示分页信息 -->
              <div class="col-md-6" th:if="${pageInfo.total != 0}">[[${pageInfo.pageNum}]] / [[${pageInfo.pages}]]</div>
              <div class="col-md-6">
                  <nav aria-label="Page navigation">
                      <ul class="pagination">
                          <!-- 判断是否有上一页 -->
                          <li th:if="${!pageInfo.hasPreviousPage }" class="disabled"><span>首页</span></li>
                          <li th:if="${pageInfo.hasPreviousPage }"><a th:href="@{iu_index(pn=1)}">首页</a></li>
                          <li th:if="${pageInfo.hasPreviousPage }">
                              <a th:href="@{iu_index(pn=${pageInfo.pageNum -1})}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                          </li>
                          <!-- 获取当前需要连续显示的页码 -->
                          <li th:each="page_num : ${pageInfo.navigatepageNums }" >
                              <span th:if="${page_num == pageInfo.pageNum}" class="list-group-item active" th:text="${page_num}"></span>
                              <a th:href="@{iu_index(pn=${page_num} )}" th:if="${page_num != pageInfo.pageNum}" th:text="${page_num}"></a>
                          </li>
                          <!-- 判断是否有下一页 -->
                          <li th:if="${pageInfo.hasNextPage }">
                              <a th:href="@{iu_index(pn=${pageInfo.pageNum +1} )}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                          </li>
                          <li th:if="${pageInfo.hasNextPage }"><a th:href="@{iu_index(pn=${pageInfo.pages} )}">末页</a></li>
                          <li th:if="${!pageInfo.hasNextPage }" class="disabled"><span>末页</span></li>
                      </ul>
                  </nav>
              </div>
          </div>
          </div>

          <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script >

    // 全选
    $("#qx").click(function(){
        var nums = $("input[type='checkbox']");
        for(var i = 0;i < nums.length; i++){
            nums[i].checked=true;
        }
    })

    // 反选
    $("#fx").click(function(){
        var nums = $("input[type='checkbox']");
        for(var i = 0;i < nums.length; i++){
            if(nums[i].checked==true){
                nums[i].checked=false;
            }
        }
    })

    // 批量删
    $("#pl").click(function(){
        var nums = $("input[type='checkbox']");
        var id = "";
        for(var i = 0;i < nums.length; i++){
            if(nums[i].checked==true){
                id+=nums[i].value+",";
            }
        }
        $.ajax({
            url:"iu_batchDelete",
            data:{"id":id},
            type:"POST",
            dataType:"json",
            success:function(result){
                if(result>0){
                    location.reload();
                }else{
                    alert("删除失败");
                }
            },
            error:function(){
                alert("错误");
            }
        });
    })

</script>
</body>
</html>