<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>保单页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <!--jquery要放在所有js最上面-->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <!--<script type="text/css">-->
        <!--.modal-content>.modal-body>.kuang{-->
            <!--width: 120px;}-->
    <!--</script>-->
</head>
<body>

<!-- 保单添加的模态框1 -->
<div class="modal fade bs-example-modal-lg" id="empAddModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">保单添加</h4>
            </div>
            <form class="form-horizontal">
            <div class="modal-body">
                <label>车辆信息</label>
                <div>
                    <label>号牌号码:</label>
                    <input type="text" style="width: 130px" id="plate_number">
                    <label>车架号:</label>
                    <input type="text" style="width: 130px" id="vin">
                    <label>行驶证号:</label>
                    <input type="text" style="width: 130px" id="driving_Licence">
                    <label>厂牌车型:</label>
                    <input type="text" style="width: 130px" id="factory_plate_model">
                </div>
                <br/>
                <div>
                    <label>登录日期:</label>
                    <input type="date" style="width: 130px" id="date_of_registration">
                    <label>发动机号:</label>
                    <input type="text" style="width: 130px" id="engine">
                    <label>载客数:</label>
                    <input type="text" style="width: 130px" id="passenger_number">
                    <label>车主:</label>
                    <input type="text" style="width: 130px" id="name_of_owner">
                    <!--<span class="help-block"></span>-->
                </div>
                <br/>
                <div>
                    <label>使用年限:</label>
                    <input type="text" style="width: 130px" id="useful_year">
                    <label>已行驶公里:</label>
                    <input type="text" style="width: 130px" id="driving_mileage">
                    <label>机动车类型:</label>
                    <input type="text" style="width: 130px" id="vehicles_type">
                    <label>颜色:</label>
                    <input type="text" style="width: 130px" id="color">
                </div>
                <br/>
                <div>
                    <label>车价(元):</label>
                    <input type="text" style="width: 130px" id="car_price">
                    <label>签单日期:</label>
                    <input type="date" style="width: 130px" id="written_date">
                    <label>身份证:</label>
                    <input type="text" style="width: 150px" id="idcard">
                    <span class="help-block"></span>
                </div>
                <hr/>
                <br/>

                <label>保单生效信息</label>
                <div>
                    <div>
                        客户期望交强险保单生效日期:<input type="date" id="start_date">0时至<input type="date" id="ending_date">24时止&nbsp&nbsp<input type="checkbox" name="jiaoqiang" id="jiaoqiang" value="1">投保
                    </div>
                    <br/>
                    <div>
                        客户期望商业险保单生效日期:<input type="date">0时至<input type="date">24时止&nbsp&nbsp<input type="checkbox" name="shangye" id="shangye" value="1">投保
                    </div>
                </div>
                <hr/>
                <br/>

                <label>保单类型</label>
                <div>
                    <input type="radio" name="policy_type" value="新保"/>新保
                    <input type="radio" name="policy_type" value="续保"/>续保
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="emp_next_btn">下一步</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- 保单添加的模态框2 -->
<div class="modal fade bs-example-modal-lg" id="empAddModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalL">保单添加</h4>
            </div>
            <form>
            <div class="modal-body">
                <label>交强险信息</label>

                    <table style="width: 880px" border="1px,solider,black">
                        <tr>
                            <td></td>
                            <td>是否投保</td>
                            <td>保费金额(元)</td>
                        </tr>
                        <br/>
                        <tr>
                            <td>交强险</td>
                            <td><input type="checkbox" id="jiao"></td>
                            <td><span>950</span></td>
                        </tr>
                    </table>


                <br/>
                <label>商业险信息</label>
                <table style="width: 880px" border="1px,solider,black">
                    <tr>
                        <td>基本险</td>
                        <td>投保金额/责任限额</td>
                        <td>是否投保</td>
                        <td>保险费(元)</td>
                    </tr>
                    <tr>
                        <td>机动车损失险</td>
                        <td><input type="text" id="jidong"/></td>
                        <td><input type="checkbox" name="jidong1" id="jidong1" value="1"></td>
                        <td><span id="jidong2"></span></td>
                    </tr>
                    <tr>
                        <td>第三者责任保险</td>
                        <td>
                            <select id="san">
                                <option>请选择....</option>
                                <option value="200000">20万</option>
                                <option value="300000">30万</option>
                                <option value="1000000">100万</option>
                            </select>
                        </td>
                        <td><input type="checkbox" name="san1" id="san1" value="1"></td>
                        <td><span id="san2"></span></td>
                    </tr>
                    <tr>
                        <td>车上人员责任险(司机)</td>
                        <td>
                            <select id="shiji">
                                <option>请选择....</option>
                                <option value="10000">1万</option>
                                <option value="10000">1万</option>
                                <option value="20000">2万</option>
                            </select>
                        </td>
                        <td><input type="checkbox" name="shiji1" id="shiji1" value="1"></td>
                        <td><span id="shiji2"></span></td>
                    </tr>
                    <tr>
                        <td>车上人员责任险(乘客)</td>
                        <td>
                            <select id="passenger">
                                <option>请选择....</option>
                                <option value="10000">1万</option>
                                <option value="10000">1万</option>
                                <option value="20000">2万</option>
                            </select>
                        </td>
                        <td><input type="checkbox" name="passenger1" id="passenger1" value="1"></td>
                        <td><span id="passenger2"></span></td>
                    </tr>
                    <!--<tr>-->
                        <!--<td>机动车盗抢险</td>-->
                        <!--<td>50000</td>-->
                        <!--<td><input type="checkbox"></td>-->
                        <!--<td><span>500</span></td>-->
                    <!--</tr>-->


                    <tr>
                        <td>附加险</td>
                        <td>投保金额/责任限额</td>
                        <td>是否投保</td>
                        <td>保险费(元)</td>
                    </tr>
                    <tr>
                        <td>玻璃单独破碎险</td>
                        <td>
                            <select id="boli">
                                <option>请选择....</option>
                                <option value="20000">国产玻璃</option>
                                <option value="50000">外国玻璃</option>
                            </select>
                        </td>
                        <td><input type="checkbox" name="boli1" id="boli1" value="1"></td>
                        <td><span id="boli2"></span></td>
                    </tr>
                    <tr>
                        <td>车身划痕损失险</td>
                        <td>
                            <select id="hua">
                                <option>请选择....</option>
                                <option value="10000">1万</option>
                                <option value="20000">2万</option>
                            </select>
                        </td>
                        <td><input type="checkbox" name="hua1" id="hua1" value="1"></td>
                        <td><span id="hua2"></span></td>
                    </tr>
                    <!--<tr>-->
                        <!--<td>自然损失险</td>-->
                        <!--<td>16666</td>-->
                        <!--<td><input type="checkbox"></td>-->
                        <!--<td><span>7890</span></td>-->
                    <!--</tr>-->
                    <tr>
                        <td>不计免赔案特约条款</td>
                        <td>
                            <input type="checkbox" name="aa" class="cc" value="1"/>车损
                            <input type="checkbox" name="aa" class="cc" value="1"/>三者
                            <input type="checkbox" name="aa" class="cc" value="1"/>司机
                            <input type="checkbox" name="aa" class="cc" value="1"/>乘客
                            <input type="checkbox" name="aa" class="cc" value="1"/>盗抢
                            <input type="checkbox" name="aa" class="cc" value="1"/>自燃
                            <input type="checkbox" name="aa" class="cc" value="1"/>涉水
                        </td>
                        <td><input type="checkbox" name="tiao1" id="tiao1" value="1"></td>
                        <td><span id="tiao2"></span></td>
                    </tr>
                </table>


            </div>
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="emp_last_btn">下一步</button>
            </div>
        </div>
    </div>
</div>

<!-- 保单添加的模态框3 -->
<div class="modal fade bs-example-modal-lg" id="empAddModal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLL">保单添加</h4>
            </div>
            <div class="modal-body">
                <table style="width: 880px" border="1px,solider,black">
                    <tr>
                        <td>商业险保费</td>
                        <td>交强险保费</td>
                        <td>保费总额</td>
                    </tr>
                    <tr>
                        <td><span id="baofei"></span></td>
                        <td>950</td>
                        <td><span id="zonge"></span></td>
                    </tr>
                    <tr>
                        <td>保单编号:</td>
                        <td colspan="2"><span id="baodan"></span></td>
                    </tr>
                </table>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="emp_finally_btn">完成</button>
            </div>
        </div>
    </div>
</div>


<!--编写保单状态-->
<div class="modal fade" tabindex="-1" role="dialog" id="bianxie">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">保单状态更新</h4>
            </div>
            <div class="modal-body">
                <label>保单状态:</label>
                <select id="zhuangtai">
                    <option>请选择</option>
                    <option value="保期内">保期内</option>
                    <option value="退保">退保</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="emp_update_btn">更新</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--整体结构-->
<div class="container">
    <!--查询条件-->
    <div>

        <div class="col-xs-2">
            <label>保单号</label>
            <input type="text" class="form-control" placeholder="201033011114006532" id="num1">
        </div>

        <div class="col-xs-2">
            <label>被保人</label>
            <input type="text" class="form-control" placeholder="张三丰" id="num2">
            <span></span>
        </div>

        <div class="col-xs-2">
            <label>车架号</label>
            <input type="text" class="form-control" placeholder="LSVAM4187C2184847" id="num3">
        </div>

        <div class="col-xs-2">
            <label>车牌号</label>
            <input type="text" class="form-control" placeholder="鄂A-666666" id="num4">
        </div>
    </div>
    <hr/>
    <!--按钮-->
    <div>
        <button type="button" class="btn btn-success" id="find">查询</button>
        <button type="button" class="btn btn-info" id="cz">重置</button>
    </div>


    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" id="emp_add_modal_btn">新增</button>
            <!--<button class="btn btn-primary" id="back">返回</button>-->
        </div>
    </div>


    <!--保单信息列表-->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="emps_table">
                <thead>
                <tr>

                    <th>保单</th>
                    <th>被保人</th>
                    <th>车架号</th>
                    <th>车牌号</th>
                    <th>厂牌型号</th>
                    <th>起保时间</th>
                    <th>终保时间</th>
                    <th>保险总额</th>
                    <th>赔偿限额</th>
                    <th>保单类型</th>
                    <th>保单状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <!-- 显示分页信息 -->
    <div class="row">
        <!--分页文字信息  -->
        <div class="col-md-6" id="page_info_area"></div>
        <!-- 分页条信息 -->
        <div class="col-md-6" id="page_nav_area"></div>
    </div>

</div>

<script>
    //总记录数,当前页,模态框2各项保费
    var totalRecord,currentPage,jidong2,san2,shiji2,passenger2,boli2,hua2,tiao2;
    //赔偿限额
    var jidong,san,shiji,passenger,boli,hua,all;
    //1、页面加载完成以后，直接去发送ajax请求,要到分页数据
    $(function(){
        //去首页
        to_page(1);

        //计算模态框1
        //机动车损失险

        $(document).on("click","#jidong1",function(){
            var jidong1 = $("input[name='jidong1']:checked").val();
            if (jidong1 == 1){
                jidong = $("#jidong").val();
                jidong2 = jidong * 0.01;
                $("#jidong2").text(jidong2);
            }else {
                $("#jidong2").text("");
            }
        });

        //第三者责任保险
        var mySelect = document.getElementById('san');
        mySelect.onchange = function () {
            san = mySelect.options[mySelect.selectedIndex].value;
        }
        $(document).on("click","#san1",function(){
            var san1 = $("input[name='san1']:checked").val();
            if (san1 == 1){
                san2 = san * 0.001;
                $("#san2").text(san2);
            }else {
                $("#san2").text("");
            }
        });

        //车上人员责任险(司机)
        var mySelect1 = document.getElementById('shiji');
        mySelect1.onchange = function () {
            shiji = mySelect1.options[mySelect1.selectedIndex].value;
        }
        $(document).on("click","#shiji1",function(){
            var shiji1 = $("input[name='shiji1']:checked").val();
            if (shiji1 == 1){
                shiji2 = shiji * 0.001;
                $("#shiji2").text(shiji2);
            }else {
                $("#shiji2").text("");
            }
        });

        //车上人员责任险(乘客)
        var mySelect2 = document.getElementById('passenger');
        mySelect2.onchange = function () {
            passenger = mySelect2.options[mySelect2.selectedIndex].value;
        }
        $(document).on("click","#passenger1",function(){
            var passenger1 = $("input[name='passenger1']:checked").val();
            if (passenger1 == 1){
                passenger2 = passenger * 0.001;
                $("#passenger2").text(passenger2);
            }else {
                $("#passenger2").text("");
            }
        });

        //玻璃单独破碎险
        var mySelect3 = document.getElementById('boli');
        mySelect3.onchange = function () {
            boli = mySelect3.options[mySelect3.selectedIndex].value;
        }
        $(document).on("click","#boli1",function(){
            var boli1 = $("input[name='boli1']:checked").val();
            if (boli1 == 1){
                boli2 = boli * 0.001;
                $("#boli2").text(boli2);
            }else {
                $("#boli2").text("");
            }
        });

        //车身划痕损失险
        var mySelect4 = document.getElementById('hua');
        mySelect4.onchange = function () {
            hua = mySelect4.options[mySelect4.selectedIndex].value;
        }
        $(document).on("click","#hua1",function(){
            var hua1 = $("input[name='hua1']:checked").val();
            if (hua1 == 1){
                hua2 = hua * 0.001;
                $("#hua2").text(hua2);
            }else {
                $("#hua2").text("");
            }
        });

        //不计免赔案特约条款
        var obj = document.getElementsByName("aa");;
        $(document).on("click","#tiao1",function(){
            var tiao1 = $("input[name='tiao1']:checked").val();
            if (tiao1 == 1){
                check_val = [];
                for(k in obj){
                    if(obj[k].checked)
                        check_val.push(obj[k].value);
                }
                tiao2 = check_val.length * 100;
                all = check_val.length * 10000;
                $("#tiao2").text(tiao2);
            }else {
                $("#tiao2").text("");
                $(".cc").prop('checked',false);
            }
        });

    });

    function to_page(pn){
        //进页面就发ajax请求,查分页
        $.ajax({
            url:"/guarantees",
            data:"pn="+pn,
            type:"GET",
            success:function(result){
                //1、解析并显示员工数据
                build_emps_table(result);
                //2、解析并显示分页信息   页面左下角
                build_page_info(result);
                //3、解析显示分页条数据   页面右下角
                build_page_nav(result);
            }
        });
    }

    function build_emps_table(result){
        //清空table表格
        $("#emps_table tbody").empty();
        var emps = result.map.pageInfo.list;
        $.each(emps,function(index,item){
            var policyId = $("<th></th>").append(item.policyId);
            var recognizee = $("<th></th>").append(item.recognizee);
            var vin = $("<th></th>").append(item.vin);
            var plateNumber = $("<th></th>").append(item.plateNumber);
            var factoryPlateModel = $("<th></th>").append(item.factoryPlateModel);
            var startDate = $("<th></th>").append(item.startDate);
            var endingDate = $("<th></th>").append(item.endingDate);
            var baofeizonge = $("<th></th>").append(item.baofeizonge);
            var peichangxiane = $("<th></th>").append(item.peichangxiane);
            var policyType = $("<th></th>").append(item.policyType);
            var policyState = $("<th></th>").append(item.policyState);

            var editBtn = $("<button></button>").addClass("btn btn-primary btn-sm edit_btn")
                .append($("<span></span>").addClass("glyphicon glyphicon-pencil")).append("编辑保单状态");
            //为编辑按钮添加一个自定义的属性，来表示当前员工id
            editBtn.attr("edit-id",item.policyId);
            var delBtn =  $("<button></button>").addClass("btn btn-danger btn-sm delete_btn")
                .append($("<span></span>").addClass("glyphicon glyphicon-trash")).append("删除");
            //为删除按钮添加一个自定义的属性来表示当前删除的员工id
            delBtn.attr("del-id",item.policyId);
            var btnTd = $("<td></td>").append(editBtn).append(" ").append(delBtn);
            //var delBtn =
            //append方法执行完成以后还是返回原来的元素

            $("<tr></tr>").append(policyId)
                .append(recognizee)
                .append(vin)
                .append(plateNumber)
                .append(factoryPlateModel)
                .append(startDate)
                .append(endingDate)
                .append(baofeizonge)
                .append(peichangxiane)
                .append(policyType)
                .append(policyState)
                .append(btnTd)
                .appendTo("#emps_table tbody");
        });
    }




    //解析显示分页信息
    function build_page_info(result){
        // alert(result.map.pageInfo.pages);
        $("#page_info_area").empty();
        $("#page_info_area").append("当前"+result.map.pageInfo.pageNum+"页,总"+
            result.map.pageInfo.pages+"页,总"+
            result.map.pageInfo.total+"条记录");
        totalRecord = result.map.pageInfo.total;
        currentPage = result.map.pageInfo.pageNum;
    }

    //解析显示分页条，点击分页要能去下一页....
    function build_page_nav(result){
        //page_nav_area
        $("#page_nav_area").empty();
        var ul = $("<ul></ul>").addClass("pagination");

        //构建元素
        var firstPageLi = $("<li></li>").append($("<a></a>").append("首页").attr("href","#"));
        var prePageLi = $("<li></li>").append($("<a></a>").append("&laquo;"));
        if(result.map.pageInfo.hasPreviousPage == false){
            firstPageLi.addClass("disabled");
            prePageLi.addClass("disabled");
        }else{
            //为元素添加点击翻页的事件  到首页在点击不会触发点击事件ajax请求
            firstPageLi.click(function(){
                to_page(1);
            });
            prePageLi.click(function(){
                to_page(result.map.pageInfo.pageNum -1);
            });
        }

        var nextPageLi = $("<li></li>").append($("<a></a>").append("&raquo;"));
        var lastPageLi = $("<li></li>").append($("<a></a>").append("末页").attr("href","#"));
        if(result.map.pageInfo.hasNextPage == false){
            nextPageLi.addClass("disabled");
            lastPageLi.addClass("disabled");
        }else{
            //到尾页在点击不会触发点击事件ajax请求
            nextPageLi.click(function(){
                to_page(result.map.pageInfo.pageNum +1);
            });
            lastPageLi.click(function(){
                to_page(result.map.pageInfo.pages);
            });
        }



        //添加首页和前一页 的提示
        ul.append(firstPageLi).append(prePageLi);
        //1,2，3遍历给ul中添加页码提示
        $.each(result.map.pageInfo.navigatepageNums,function(index,item){

            var numLi = $("<li></li>").append($("<a></a>").append(item));
            if(result.map.pageInfo.pageNum == item){
                numLi.addClass("active");
            }
            //点击某页去某页
            numLi.click(function(){
                to_page(item);
            });
            ul.append(numLi);
        });
        //添加下一页和末页 的提示
        ul.append(nextPageLi).append(lastPageLi);

        //把ul加入到nav
        var navEle = $("<nav></nav>").append(ul);
        navEle.appendTo("#page_nav_area");
    }


    //单个删除
    $(document).on("click",".delete_btn",function(){
        //1、弹出是否确认删除对话框
        var policyId = $(this).parents("tr").find("th:eq(0)").text();
        // var empId = $(this).attr("del-id");
        // alert($(this).attr("del-id"));
        if(confirm("确认删除【"+policyId+"】吗？")){
            //确认，发送ajax请求删除即可
            $.ajax({
                url:"delete/"+policyId,
                type:"DELETE",
                success:function(result){
                    // alert(result.msg);
                    //回到本页
                    to_page(currentPage);
                }
            });
        }
    });

    function update_check(){
        var num1 = $("#num1").val();
        var num2 = $("#num2").val();
        var num3 = $("#num3").val();
        var num4 = $("#num4").val();
        if(num1 != "" || num2 != "" || num3 != "" || num4 != "") {
            $.ajax({
                url: "find",
                type: "POST",
                data: {"policyId": num1, "recognizee": num2, "vin": num3, "plateNumber": num4},
                success: function (result) {
                    if (result.code == 100) {
                        to_page(1);
                    }
                }
            });
        }
    }


    //条件查询
    $("#find").click(function(){
        update_check();
    })


    //重置条件并查询所有
    $("#cz").click(function(){
        $("#num1").val('');
        $("#num2").val('');
        $("#num3").val('');
        $("#num4").val('');
        $.ajax({
            url:"find",
            type:"POST",
            success:function(result){
                to_page(1);
            }
        });
    })


    //显示校验结果的提示信息   ele就是元素(id)
    function show_validate_msg(ele,status,msg){
        //清除当前元素的校验状态
        $(ele).parent().removeClass("has-success has-error");
        $(ele).next("span").text("");
        if("success"==status){
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        }else if("error" == status){
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }


    //清空表单样式及内容
    function reset_form(ele){
        $(ele)[0].reset();
        //清空表单样式
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }


    //添加保单
    $("#emp_add_modal_btn").click(function(){
        //清空模态框1
        reset_form("#empAddModal form");
        //清空模态框2,保费没清掉
        reset_form("#empAddModal2 form");
        $("#tiao2").text("");
        $("#hua2").text("");
        $("#boli2").text("");
        $("#passenger2").text("");
        $("#shiji2").text("");
        $("#san2").text("");
        $("#jidong2").text("");
        //弹出1模态框
        $("#empAddModal").modal({
            backdrop:"static"
        });
    });



    //JSR303校验,提示出现的位置不好调,屏蔽
    $("#emp_next_btn").click(function(){
        //清空模态框2
        // reset_form("#empAddModal2 form");
        //前端校验
        if(!validate_add_form()){
            return false;
        };
        //关闭1模态框
        $('#empAddModal').modal('hide');
        //弹出2模态框
        $("#empAddModal2").modal({
            backdrop:"static"
        });
        //1模态框中交强选中后2模态框交强自动给选中
        var jiaoqiang = $("input[name='jiaoqiang']:checked").val();
        if(jiaoqiang==1){
            $("#jiao").prop('checked',true);
        }

        //
    //     $.ajax({
    //         url:"check",
    //         type:"POST",
    //         data:{"idcard":idcard},
    //         success:function(result){
    //             // alert(result.code);
    //             if(100 == 100){
    //                 //关闭1模态框
    //                 $('#empAddModal').modal('hide');
    //                 //弹出2模态框
    //                 $("#empAddModal2").modal({
    //                     backdrop:"static"
    //                 });
    //                 //1模态框中交强选中后2模态框交强自动给选中
    //                 var jiaoqiang = $("input[name='jiaoqiang']:checked").val();
    //                 if(jiaoqiang==1){
    //                     $("#jiao").prop('checked',true);
    //                 }
    //             }else{
    //                 //显示失败信息   后台JSR303校验
    //                 //console.log(result);
    //                 //有哪个字段的错误信息就显示哪个字段的；
    //                 if(undefined != result.map.errorFields.idcard){
    //                     //显示身份证错误信息
    //                     show_validate_msg("#idcard", "error", result.map.errorFields.idcard);
    //                 }
    //                 if(undefined != result.map.errorFields.nameOfOwner){
    //                     //显示名字的错误信息
    //                     show_validate_msg("#name_of_owner", "error", result.map.errorFields.nameOfOwner);
    //                 }
    //             }
    //         }
    //     });
    });


    $("#emp_last_btn").click(function(){
        $.ajax({
            url: "policyId",
            type: "POST",
            success: function (result) {
                    //关闭2模态框
                    $('#empAddModal2').modal('hide');
                    //弹出3模态框
                    $("#empAddModal3").modal('show');
                    //显示保费及保费总额
                    baofei = parseInt(jidong2)+parseInt(san2)+parseInt(shiji2)+parseInt(passenger2)+
                        parseInt(boli2)+parseInt(hua2)+parseInt(tiao2);
                    $("#baofei").text(baofei);
                    zonge = baofei + 950;
                    $("#zonge").text(zonge)
                    //接收保单号
                    $("#baodan").text(result);
            }
        });


    });


    $("#emp_finally_btn").click(function(){
        //关闭3模态框
        $('#empAddModal3').modal('hide');
        //获取车辆信息
        var plate_number = $("#plate_number").val();
        var vin = $("#vin").val();
        var driving_Licence = $("#driving_Licence").val();
        var factory_plate_model = $("#factory_plate_model").val();

        var date_of_registration = $("#date_of_registration").val();
        var engine = $("#engine").val();
        var passenger_number = $("#passenger_number").val();
        var name_of_owner = $("#name_of_owner").val();

        var useful_year = $("#useful_year").val();
        var driving_mileage = $("#driving_mileage").val();
        var vehicles_type = $("#vehicles_type").val();
        var color = $("#color").val();

        var car_price = $("#car_price").val();
        var written_date = $("#written_date").val();
        var idcard = $("#idcard").val();

        //保单生效日期
        var jiaoqiang = $("input[name='jiaoqiang']:checked").val();
        var shangye = $("input[name='shangye']:checked").val();
        if(jiaoqiang==1){
            var start_date = $("#start_date").val();
            var ending_date = $("#ending_date").val();
        }

        //保单类型
        var policy_type = $("input[name='policy_type']:checked").val();
        var baofeizonge = $("#zonge").text();
        xiane = parseInt(jidong)+parseInt(san)+parseInt(shiji)+parseInt(passenger)+
            parseInt(boli)+parseInt(hua)+parseInt(all);
        var peichangxiane =xiane;
        var policy_id = $("#baodan").text();

        //通过ajax把数据传向后台
        $.ajax({
            url: "guarantee/insert",
            type: "POST",
            data: {"plate_number":plate_number,"vin":vin,"driving_Licence":driving_Licence,
                "factory_plate_model":factory_plate_model,"date_of_registration":date_of_registration,
                "engine":engine,"passenger_number":passenger_number,"name_of_owner":name_of_owner,
                "useful_year":useful_year,"driving_mileage":driving_mileage,"vehicles_type":vehicles_type,
                "color":color,"car_price":car_price,"written_date":written_date,"start_date":start_date,
                "ending_date":ending_date,"policy_type":policy_type,"recognizee":name_of_owner,
                "baofeizonge":baofeizonge,"peichangxiane":peichangxiane,"policy_id":policy_id,"idcard":idcard},
            success: function (result) {
                if (result.code == 100) {
                    //保单保存成功；
                    //1、关闭模态框
                    $("#empAddModal3").modal('hide');
                    //发送ajax请求显示最后一页数据即可
                    to_page(totalRecord);
                }
            }
        });
    });

    //编写
    $(document).on("click",".edit_btn",function(){

        //alert($(this).attr("edit-id"));
        //2、查出员工信息，显示员工信息
        getEmp($(this).attr("edit-id"));
        $("#bianxie").modal('show');
        // //3、把员工的id传递给模态框的更新按钮
        $("#emp_update_btn").attr("edit-id",$(this).attr("edit-id"));
        // $("#empUpdateModal").modal({
        //     backdrop:"static"
        // });
    });

    //点击编写查单条
    function getEmp(id){
        $.ajax({
            url:"bianxie/"+id,
            type:"GET",
            success:function(result){
                //console.log(result);编写框数据填入
                var empData = result.map.pageInfo.list;
                // $("#empName_update_static").text(empData.empName);
                // $("#email_update_input").val(empData.email);
                // $("#empUpdateModal input[name=gender]").val([empData.gender]);
                // $("#empUpdateModal select").val([empData.dId]);
            }
        });
    }

    //保单状态更改
    var zhuangtai;
    var select = document.getElementById('zhuangtai');
    select.onchange = function () {
        zhuangtai = select.options[select.selectedIndex].value;
    }

    $("#emp_update_btn").click(function(){
        var num1 = $("#num1").val();
        var num2 = $("#num2").val();
        var num3 = $("#num3").val();
        var num4 = $("#num4").val();

        //发送ajax请求保存更新数据
        $.ajax({
            url:"/update/"+$(this).attr("edit-id"),
            type:"PUT",
            data:{"zhuangtai":zhuangtai},
            success:function(result){
                //1、关闭对话框
                $("#bianxie").modal("hide");
                if(num1 != "" || num2 != "" || num3 != "" || num4 != "") {
                    // alert("查询后修改");
                    update_check();
                }else {
                    // alert("列表修改");
                    //2、修改完成回到当前页面
                    to_page(currentPage);
                }
            }
        });
    });


    //前端校验数据
    function validate_add_form(){
        //1、拿到要校验的数据，使用正则表达式
        var card = $("#idcard").val();
        var regName = /^(\d{6})(\d{4})(\d{2})(\d{2})(\d{3})([0-9]|X)$/;
        //regName.test(empName)为true,取反为false
        if(!regName.test(card)){
            //alert("请输入正确18位身份证号");
            show_validate_msg("#idcard", "error", "请输入正确18位身份证号");
            return false;
        }else{
            show_validate_msg("#idcard", "success", "");
        };
        return true;
    }



</script>
</body>
</html>