*{
	margin: 0;
	padding: 0;
}
a{
	color:white;
	text-decoration: none;
}
body,html{
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}
#wrap{
	height: 100%;
	width: 100%;
}
#header{
	height: 80px;
	width: 100%;
	position: relative;
	background-color: rgb(46, 135, 193);
}
#header1{
	width: 13%;
	height: 100%;
	color: white;
	font-size: 20px;
	float: left;
	padding: 20px 0 0 20px;
	box-sizing: border-box;
	background-color: rgb(29, 29, 38);
}
#header2{
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 15px;
	left: 1690px;
	font-size: 18px;
	color: #FFFFFF;
}
#main{
	width: 100%;
	height: 100%;
}
#main_left{
	width: 13%;
	height: 100%;
	float: left;
	background-color: rgb(47, 54, 62);
}
#main_left li{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	padding-left:40px ;
	box-sizing: border-box;
	cursor: pointer;
	color: white;
}

#main_left li:hover{
	background-color: rgb(237, 81, 80);
	border-left:2px rgb(247, 175, 175) solid;
}
#main_right{
	width: 87%;
	height: 100%;
	float: right;
}