<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform" xmlns:c="http://mybatis.org/schema/mybatis-mapper">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" th:href="@{css/policydetails.css}"/>
		<link rel="shortcut icon" th:href="@{/favicon.ico}"/>
		<title></title>
	</head>
	<body>
	<div id="main">
		<div id="back">
			<div id="choose-type">
				<input type="text" id="select-type" readonly="readonly">

			</div>
			<div id="type-details">
				<img src="img/all1.jpg" style="width: 539px;height: 111px;position: absolute;left: 544px;top: 316px;">
				<img src="img/all2.jpg" style="width: 591px;height: 174px;position: absolute;left: 544px;top: 316px;">
				<img src="img/all3.jpg" style="width: 602px;height: 179px;position: absolute;left: 544px;top: 316px;">
			</div>
		</div>
	</div>

		<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
		<script type="text/javascript">

		</script>
	</body>
</html>
