<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform" xmlns:c="http://mybatis.org/schema/mybatis-mapper">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" th:href="@{css/policydetails.css}"/>
		<link rel="shortcut icon" th:href="@{/favicon.ico}"/>
		<title></title>
	</head>
	<body>
	<div id="main">
		<div id="back">
			<div id="choose-type">
				<input type="text" id="select-type" readonly="readonly" value="基本方案"><img src="img/xiala10.jpg" id="xiala10">
				<div id="total1" style="">

				</div>
			</div>
			<div id="threeclass">

			</div>
			<div id="type-details">
				<img src="img/all1.jpg" id="all1">
				<img src="img/all2.jpg" id="all2">
				<img src="img/all3.jpg" id="all3">
			</div>
		</div>
	</div>

		<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
		<script type="text/javascript">
			$("#xiala10").
		</script>
	</body>
</html>
