<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.guaranteeMapper">

  <!--表的字段-->
  <sql id="zhiduan">
        `policy_id`,
        `recognizee`,
        `written_date`,
        `start_date`,
        `ending_date`,
        `baofeizonge`,
        `policy_type`,
        `policy_state`,
        `peichangxiane`,
        `engine`,
        `vin`,
        `factory_plate_model`,
        `plate_number`,
        `color`,
        `vehicles_type`,
        `passenger_number`,
        `driving_Licence`,
        `name_of_owner`,
        `car_price`,
        `date_of_registration`,
        `useful_year`,
        `driving_mileage`,
        `idcard`
   </sql>

  <!--#{}是实体类属性-->
  <insert id="guaranteeinsert">
       insert into `insurance`.`policys`
    (<include refid="zhiduan"/>)
values
  (
    #{policyId},
    #{recognizee},
    #{writtenDate},
    #{startDate},
    #{endingDate},
    #{baofeizonge},
    #{policyType},
    #{policyState},
    #{peichangxiane},
    #{engine},
    #{vin},
    #{factoryPlateModel},
    #{plateNumber},
    #{color},
    #{vehiclesType},
    #{passengerNumber},
    #{drivingLicence},
    #{nameOfOwner},
    #{carPrice},
    #{dateOfRegistration},
    #{usefulYear},
    #{drivingMileage},
    #{idcard}
  ) ;
    </insert>

    <select id="guaranteesfindAll" parameterType="com.java.pojo.Policys" resultType="com.java.pojo.Policys">
        select <include refid="zhiduan"/> from policys
    </select>

    <delete id="guaranteedelete">
        delete from policys  where `policy_id` = #{policyId}
    </delete>

    <!--通过选择其中一项或多项字段来查询-->
    <select id="tiaojianfind" resultType="com.java.pojo.Policys">
        select
        <include refid="zhiduan"/>
        from policys
        <where>
                <if test="policyId != null and policyId != ''">
                    and policy_id = #{policyId}
                </if>
                <if test="recognizee != null and recognizee != ''">
                    and recognizee = #{recognizee}
                </if>
                <if test="vin != null and vin != ''">
                    and vin = #{vin}
                </if>
                <if test="plateNumber != null and plateNumber != ''">
                    and plate_number = #{plateNumber}
                </if>
        </where>
    </select>


    <update id="update">
        update policys
        <set>
          <if test="policyState != null">
              policy_state = #{policyState},
          </if>
        </set>
        where policy_id = #{policyId}
    </update>

</mapper>