<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.InsuranceUserMapper">
    
    <!--投保人增-->
    <insert id="add">
INSERT INTO `insurance`.`insurance_user` (
  `ip_name`,
  `ip_sex`,
  `ip_tel`,
  `ip_email`,
  `ip_certificate_type`,
  `ip_identification_number`,
  `ip_address`,
  `ip_bank_account`,
  `ip_dirver_license`,
  `ph_name`,
  `ph_sex`,
  `ph_certificate_type`,
  `ph_identification_number`,
  `ph_tel`,
  `ph_address`
)
VALUES
  (
    #{ipName},
    #{ipSex},
    #{ipTel},
    #{ipEmail},
    #{ipCertificateType},
    #{ipIdentificationNumber},
    #{ipAddress},
    #{ipBankAccount},
    #{ipDirverLicense},
    #{phName},
    #{phSex},
    #{phCertificateType},
    #{phIdentificationNumber},
    #{phTel},
    #{phAddress}
  ) ;


    </insert>
    <!--投保人删-->
    <delete id="delete">
        delete from insurance_user where iu_id = #{iuId}
    </delete>
    <!--投保人改-->
    <update id="update">
UPDATE
  `insurance`.`insurance_user`
SET
  `iu_id` = #{iuId},
  `ip_name` = #{ipName},
  `ip_sex` = #{ipSex},
  `ip_tel` = #{ipTel},
  `ip_email` = #{ipEmail},
  `ip_certificate_type` = #{ipCertificateType},
  `ip_identification_number` = #{ipIdentificationNumber},
  `ip_address` = #{ipAddress},
  `ip_bank_account` = #{ipBankAccount},
  `ip_dirver_license` =#{ipDirverLicense},
  `ph_name` =#{phName},
  `ph_sex` = #{phSex},
  `ph_certificate_type` = #{phCertificateType},
  `ph_identification_number` = #{phIdentificationNumber},
  `ph_tel` = #{phTel},
  `ph_address` = #{phAddress}
WHERE `iu_id` = #{iuId} ;
    </update>
    <!--投保人查所有-->
    <select id="findAll" resultType="com.java.pojo.InsuranceUser">
        select * from insurance_user
    </select>
    <!--投保人查单条-->
    <select id="findOne" resultType="com.java.pojo.InsuranceUser">
        select * from insurance_user where iu_id =#{iuId}
    </select>

    <!--投保人多条件查询-->
    <select id="searchOne"  resultType="com.java.pojo.InsuranceUser">
        select * from insurance_user
        <where>
            <if test="ipName != null  and ipName != ''">
                and ip_name = #{ipName}
            </if>
            <if test="ipIdentificationNumber !=null  and ipIdentificationNumber != ''">
                and ip_identification_number = #{ipIdentificationNumber}
            </if>

            <if test="phName != null  and phName != ''">
                and ph_name = #{phName}
            </if>
            <if test="phIdentificationNumber !=null  and phIdentificationNumber != ''">
                and ph_identification_number = #{phIdentificationNumber}
            </if>

        </where>
    </select>

    <!--投保人批量删-->
    <update id="batchDelete">
        delete from insurance_user where iu_id in
        <foreach collection="array" item="iuId" open="(" close=")"
                 separator=",">
            #{iuId}
        </foreach>
    </update>

    <!--投保人分页-->
    <select id="findOneSelf" resultType="com.java.pojo.InsuranceUser">
        select * from insurance_user where iu_id = #{iuId}
    </select>


    <!--被保人查单条-->
    <select id="findOnesfz" resultType="com.java.pojo.InsuranceUser">
        select * from insurance_user where ip_identification_number = #{ipIdentificationNumber}
    </select>
</mapper>