<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.LpglMapper">
    <!--增加int insertLpgl(Lpgl lpgl);-->
    <insert id="insertLpgl">
        insert into lpgl (
        <include refid="lp"/>)
        value(#{xmName},#{ssMoney},#{pfMoney},#{lpId},#{lqPeople},#{lpFs},#{lpSh},#{lpTime})
    </insert>

    <!--查询片段-->
    <sql id="lp">
        xm_name,ss_money,pf_money,lp_id,lq_people,lp_fs,lp_sh,lp_time
    </sql>

    <!--删除
    int deleteLpgl(Integer id);-->
    <delete id="deleteLpgl">
        delete from lpgl where id = #{id}
    </delete>
    <!--批量删除
    int deleteLpgls(List<Integer> list);-->
    <delete id="deleteLpgls">
        delete from lpgl where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--修改
    int updateLpgl(Lpgl lpgl);-->
    <update id="updateLpgl">
        update lpgl
        <set>
            <if test="xmName != null and xmName != ''">
                xm_name = #{xmName},
            </if>
            <if test="ssMoney != null and ssMoney != ''">
                ss_money = #{ssMoney},
            </if>
            <if test="pfMoney != null and pfMoney != ''">
                pf_money = #{pfMoney},
            </if>
            <if test="lpId != null and lpId != ''">
                lp_id = #{lpId},
            </if>
            <if test="lqPeople != null and lqPeople != ''">
                lq_people = #{lqPeople},
            </if>
            <if test="lpFs != null and lpFs != ''">
                lp_fs = #{lpFs},
            </if>
            <if test="lpSh != null and lpSh != ''">
                lp_sh = #{lpSh},
            </if>
            <if test="lpTime != null and lpTime != ''">
                lp_time = #{lpTime}
            </if>
        </set>
        where id =#{id}
    </update>

    <!--条件查询
    List<Lpgl> findBy();-->
    <select id="findBy" resultType="lpgl">
        select id,
        <include refid="lp"/>
        from lpgl
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
        </where>
        <where>
            <if test="ss != null and ss != ''">
                or xm_name like #{ss}
            </if>
            <if test="ss != null and ss != ''">
                or lq_people like #{ss}
            </if>
        </where>
        <if test="ord != null and ord != ''">
            order by ${ord} ${desc}
        </if>
    </select>
</mapper>