<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.PolicyHolderMapper">
    
    <!--投保人增-->
    <insert id="add">
    INSERT INTO `insurance`.`policy_holder` (
  `ph_id`,
  `ph_name`,
  `ph_sex`,
  `ph_cred_type`,
  `ph_cred_number`,
  `ph_tel`,
  `ph_address`
)
VALUES
  (
    #{phId},
    #{phName},
    #{phSex},
    #{phCredType},
    #{phCredNumber},
    #{phTel},
    #{phAddress}
  )

    </insert>
    <!--投保人删-->
    <delete id="delete">
        delete from policy_holder where ph_id = #{phId}
    </delete>
    <!--投保人改-->
    <update id="update">
 UPDATE
  `insurance`.`policy_holder`
SET
  `ph_id` =  #{phId},
  `ph_name` =  #{phName},
  `ph_sex` =  #{phSex},
  `ph_cred_type` =  #{phCredType},
  `ph_cred_number` =  #{phCredNumber},
  `ph_tel` =  #{phTel},
  `ph_address` =  #{phAddress}
WHERE `ph_id` =  #{phId} ;
    </update>
    <!--投保人查所有-->
    <select id="findAll" resultType="com.java.pojo.PolicyHolder">
        select * from policy_holder
    </select>
    <!--投保人查单条-->
    <select id="findOne" resultType="com.java.pojo.PolicyHolder">
        select * from policy_holder where ph_id =#{phId}
    </select>

    <!--投保人多条件查询-->
    <select id="searchOne"  resultType="com.java.pojo.PolicyHolder">
        select * from policy_holder
        <where>
            <if test="phName != null  and phName != ''">
                and ph_name = #{phName}
            </if>
            <if test="phCredNumber !=null  and phCredNumber != ''">
                and ph_cred_number = #{phCredNumber}
            </if>

        </where>
    </select>

    <!--投保人批量删-->
    <update id="batchDelete">
        delete from policy_holder where ph_id in
        <foreach collection="array" item="phId" open="(" close=")"
                 separator=",">
            #{phId}
        </foreach>
    </update>

    <!--投保人分页-->
    <select id="findOneSelf" resultType="com.java.pojo.PolicyHolder">
        select * from policy_holder where ph_id = #{phId}
    </select>
</mapper>