<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.RiskMessageMapper">
    <select id="selAllRiskMessage" resultType="com.java.pojo.Riskmessage">
        select * from riskmessage
    </select>

    <update id="addRiskMessage">
        INSERT INTO `insurance`.`riskmessage` (
  `risk_idcard`,
  `risk_personname`,
  `risk_policys_id`,
  `risk_bn_serial`,
  `risk_bn_time`,
  `risk_lian_time`,
  `risk_outtime`,
  `risk_outprovince`,
  `risk_outcity`,
  `risk_outarea`,
  `risk_outroad`,
  `risk_outtype`,
  `risk_reason`,
  `risk_reporter`,
  `risk_reportertel`,
  `risk_dirver`,
  `risk_dirvertel`,
  `risk_endtime`,
  `risk_hander`,
  `risk_state`
)
VALUES
  (
    #{riskIdcard},
    #{riskPersonname},
    #{riskPolicysId},
    #{riskBnSerial},
    #{riskBnTime},
    #{riskLianTime},
    #{riskOuttime},
    #{riskOutprovince},
    #{riskOutcity},
    #{riskOutarea},
    #{riskOutroad},
    #{riskOuttype},
    #{riskReason},
    #{riskReporter},
    #{riskReportertel},
    #{riskDirver},
    #{riskDirvertel},
    #{riskEndtime},
    #{riskHander},
    #{riskState}
  )
    </update>
</mapper>